include pyproject.toml
include README.md
include CITATION.cff
include LICENSE.rst
include setup.cfg
include tests/coveragerc

recursive-include mmtwfs *.pyx *.c *.pxd
recursive-include mmtwfs/data *
recursive-include notebooks *

prune build
prune docs/_build
prune docs/api

global-exclude *.pyc *.o
