<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ static_url("css/boilerplate.css") }}" type="text/css" />

        <link rel="stylesheet" href="{{ static_url("css/style.min.css") }}" type="text/css" />
        <link rel="stylesheet" href="{{ static_url("css/page.css") }}" type="text/css" />
        <link rel="stylesheet" href="{{ static_url("css/fbm.css") }}" type="text/css" />
        <link rel="stylesheet" href="{{ static_url("jquery-ui/themes/smoothness/jquery-ui.min.css") }}" >
        <link rel="stylesheet" href="{{ static_url("css/bootstrap.min.css") }}" type="text/css">
        <link rel="stylesheet" href="{{ static_url("css/bootstrap-theme.min.css") }}" type="text/css" />
        <script src="{{ static_url("js/jquery-1.11.3.min.js") }}"></script>
        <script src="{{ static_url("js/jquery-ui.min.js") }}"></script>
        <script src="{{ static_url("js/bootstrap.min.js") }}"></script>
        <script src="{{ static_url("js/mpl.js") }}"></script>
        <script src="{{ static_url("js/plotly-latest.min.js") }}></script>

        <script>
            /* This is a callback that is called when the user saves
             (downloads) a file.  Its purpose is really to map from a
             figure and file format to a url in the application. */
            {% for figure in figures %}
                function ondownload_{{ figure }}(figure, format) {
                    window.open('download_{{ figure }}.' + format, '_blank');
                };
            {% end %}

            $(document).ready(
                function() {
                    /* It is up to the application to provide a websocket that the figure
                     will use to communicate to the server.  This websocket object can
                     also be a "fake" websocket that underneath multiplexes messages
                     from multiple figures, if necessary. */
                    var websocket_type = mpl.get_websocket_type();

                    {% for ws_uri, fig_id, figure in zip(ws_uris, fig_ids, figures) %}
                        var websocket_{{ figure }} = new websocket_type("{{ ws_uri }}");

                        // mpl.figure creates a new figure on the webpage.
                        var fig = new mpl.figure(
                            // A unique numeric identifier for the figure
                            {{ fig_id }},
                            // A websocket object (or something that behaves like one)
                            websocket_{{ figure }},
                            // A function called when a file type is selected for download
                            ondownload_{{ figure }},
                            // The HTML element in which to place the figure
                            $('div#{{ figure }}')
                        );
                    {% end %}
                }
            );
        </script>

        <title>{{ wfsname }}</title>
    </head>

    <body>
        <div class="page-header">
            <h1>{{ wfsname }}</h1>
        </div>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Home</a>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class='col-lg-6'>
                    <label for="datafile"><b>FITS file to analyze:</b></label>
                    <div class="input-group">
                        <span class="input-group-addon" id="datadir">{{ datadir }}</span>
                        <input type="text" class="form-control" id="datafile" aria-describedby="datadir">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" id='analyze' data-loading-text="Running..." type="button">Analyze</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class='col-lg-6'>
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="mode">Mode:</label>
                            <select class="form-control" id="mode">
                                {% for m in modes %}
                                    {% if m == default_mode %}
                                        <option selected value={{ m }}>{{ modes[m]['label'] }}</option>
                                    {% else %}
                                        <option value={{ m }}>{{ modes[m]['label'] }}</option>
                                    {% end %}
                                {% end %}
                            </select>
                            <label for="connect">Enable Corrections:</label>
                            <input type="checkbox" id="connect" checked>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class='col-lg-6'>
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="m1gain">M1 Gain:</label>
                            <input type="text" default="0.5" id="m1gain">
                            <label for="m2gain">M2 Gain:</label>
                            <input type="text" default="1.0" id="m2gain">
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class='col-lg-6'>
                    <button type="button" id='focuscorrect' data-loading-text="Running..." class="btn btn-primary">Correct Focus</button>
                    <button type="button" id='comacorrect' data-loading-text="Running..." class="btn btn-primary">Correct Coma</button>
                    <button type="button" id='m1correct' data-loading-text="Running..." class="btn btn-primary">Correct M1</button>
                </div>
            </div>
        </div>

        <script>
        $(function () {
            var getData = function(request, response) {
                $.getJSON(
                    "files",
                    function(data) {
                        response(data);
                    }
                );
            };

            var selectItem = function(event, ui) {
                $("#datafile").val(ui.item.value);
                return false;
            }

            $("#datafile").autocomplete({
                source: getData,
                select: selectItem,
                minLength: 1
            });
        });
        $('#m2correct').on('click', function() {
            var $btn = $(this).button('loading');
            $.get("m2correct", function(data, status) {
                alert(data);
            });
            $btn.button('reset');
        });
        $('#m1correct').on('click', function() {
            var $btn = $(this).button('loading');
            $.get("m1correct", function(data, status) {
                alert(data);
            });
            $btn.button('reset');
        });
        $('#recenter').on('click', function() {
            var $btn = $(this).button('loading');
            $.get("recenter", function(data, status) {
                alert(data);
            });
            $btn.button('reset');
        });
        $('#analyze').on('click', function() {
            var $btn = $(this).button('loading');
            var file = $('#datafile').val();
            var dir = $('#datadir').html();
            var mode = $('#mode').val();
            var connect = document.getElementById('connect').checked;
            var url = "analyze?connect=" + connect + "&mode=" + mode + "&fitsfile=" + dir + file;
            $.get(url, function(data, status) {
                var logstuff = data + status;
                $btn.button('reset');
            });
        });
        </script>

        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        <div id="slopes"></div>
                    </td>
                    <td>
                        <div id="residuals"></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="barchart"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="wavefront"></div>
                    </td>
                    <td>
                        <div id="psf"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="forces"></div>
                    </td>
                    <td>
                        <div id="totalforces"></div>
                    </td>
                </tr>
            </tbody>
        </table>

    </body>
</html>
