<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ static_url("css/boilerplate.css") }}" type="text/css" />

        <link rel="stylesheet" href="{{ static_url("css/style.min.css") }}" type="text/css" />
        <link rel="stylesheet" href="{{ static_url("css/page.css") }}" type="text/css" />
        <link rel="stylesheet" href="{{ static_url("css/fbm.css") }}" type="text/css" />
        <link rel="stylesheet" href="{{ static_url("jquery-ui/themes/smoothness/jquery-ui.min.css") }}" >
        <link rel="stylesheet" href="{{ static_url("css/bootstrap.min.css") }}" type="text/css">
        <link rel="stylesheet" href="{{ static_url("css/bootstrap-theme.min.css") }}" type="text/css" />
        <style type="text/css">
            .form-inline label {
              margin-left: 15px;
              margin-right: 5px;
            }
        </style>
        <script src="{{ static_url("js/jquery-1.11.3.min.js") }}"></script>
        <script src="{{ static_url("js/jquery-ui.min.js") }}"></script>
        <script src="{{ static_url("js/bootstrap.min.js") }}"></script>
        <script src="{{ static_url("js/mpl.js") }}"></script>
        <script src="{{ static_url("js/plotly-latest.min.js") }}"></script>

        <script>
            /* This is a callback that is called when the user saves
             (downloads) a file.  Its purpose is really to map from a
             figure and file format to a url in the application. */
            {% for figure in figures %}
                function ondownload_{{ figure }}(figure, format) {
                    window.open('download_{{ figure }}.' + format, '_blank');
                };
            {% end %}

            $(document).ready(
                function() {
                    /* It is up to the application to provide a websocket that the figure
                     will use to communicate to the server.  This websocket object can
                     also be a "fake" websocket that underneath multiplexes messages
                     from multiple figures, if necessary. */
                    var websocket_type = mpl.get_websocket_type();

                    {% for ws_uri, fig_id, figure in zip(ws_uris, fig_ids, figures) %}
                        var websocket_{{ figure }} = new websocket_type("{{ ws_uri }}");

                        // mpl.figure creates a new figure on the webpage.
                        var fig = new mpl.figure(
                            // A unique numeric identifier for the figure
                            {{ fig_id }},
                            // A websocket object (or something that behaves like one)
                            websocket_{{ figure }},
                            // A function called when a file type is selected for download
                            ondownload_{{ figure }},
                            // The HTML element in which to place the figure
                            $('div#{{ figure }}')
                        );
                    {% end %}
                    $.getJSON("zfit", {format: "json"}).done(function(data) {
                        $('#zernikes').text(data);
                    });
                }
            );
        </script>

        <title>{{ wfsname }}</title>
    </head>

    <body>
        <div class="page-header" align="center">
            <h1>{{ wfsname }}</h1>
        </div>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Home</a>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <p>
                <div class="row">
                    <div class='col-lg-6'>
                        <label for="datafile"><b>FITS file to analyze:</b></label>
                        <div class="input-group">
                            <span class="input-group-addon" id="datadir">{{ datadir }}</span>
                            <input type="text" class="form-control" id="datafile" aria-describedby="datadir">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" id='analyze' type="button">Analyze</button>
                                <button class="btn btn-primary" id='latest' type="button">Analyse Latest</button>
                            </span>
                        </div>
                    </div>
                </div>
            </p>
            <p>
                <div class="row">
                    <div class='col-lg-6'>
                        <form class="form-inline">
                            <div class="form-group">
                                {% if wfsname != "MMIRS WFS" %}
                                    <label for="mode">Mode:</label>
                                    <select class="form-control" id="mode">
                                        {% for m in modes %}
                                            {% if m == default_mode %}
                                                <option selected value={{ m }}>{{ modes[m]['label'] }}</option>
                                            {% else %}
                                                <option value={{ m }}>{{ modes[m]['label'] }}</option>
                                            {% end %}
                                        {% end %}
                                    </select>
                                {% end %}
                                <label for="connect">Enable Corrections:</label>
                                <input type="checkbox" id="connect" checked>
                            </div>
                        </form>
                    </div>
                </div>
            </p>
            <p>
                <div class="row">
                    <div class='col-lg-6'>
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="m1gain">M1 Gain:</label>
                                <input type="number" min=0.0 max=1.0 step=0.1 value="{{ m1_gain }}" id="m1gain">
                                <label for="m2gain">M2 Gain:</label>
                                <input type="number" min=0.0 max=1.0 step=0.1 value="{{ m2_gain }}" id="m2gain">
                                <button type="button" id='setgains' class="btn btn-primary">Set Gains</button>
                            </div>
                        </form>
                    </div>
                </div>
            </p>
            <p>
                <div class="row">
                    <div class='col-lg-6'>
                        <div class='col-lg-3'>
                            <button type="button" id='focuscorrect' disabled="disabled" class="btn btn-primary">Correct Focus</button>
                        </div>
                        <div class='col-lg-3'>
                            <button type="button" id='comacorrect' disabled="disabled" class="btn btn-primary">Correct Coma</button>
                        </div>
                        <div class='col-lg-3'>
                            <button type="button" id='m1correct' disabled="disabled" class="btn btn-primary">Correct M1</button>
                        </div>
                        <div class='col-lg-3'>
                            <button type="button" id='clear' class="btn btn-danger">Clear Corrections</button>
                        </div>
                    </div>
                </div>
            </p>
                {% if wfsname == "MMIRS WFS" %}
                    <p>
                        <div class="row">
                            <div class='col-lg-6 align-self-center'>
                                <div class='col-lg-4'>
                                    <button type="button" id='continuous' class="btn btn-primary">Start Continuous WFS</button>
                                </div>
                                <div class='col-lg-8'>
                                    <form class="form-inline">
                                        <div class="form-group">
                                            <label class="form-check-label" for="turbo">Turbo Mode:</label>
                                            <input type="checkbox" id="turbo">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </p>
                {% end %}
        </div>

        <script>
        var continuous = false;
        var orig_m1g = 0.5;
        var orig_m2g = 1.0;
        var timer = undefined;
        var ready = false;
        var latest_file = "";
        $(function() {
            var getData = function(request, response) {
                $.getJSON(
                    "files",
                    function(data) {
                        response(data);
                    }
                );
            };

            var selectItem = function(event, ui) {
                $("#datafile").val(ui.item.value);
                return false;
            }

            $("#datafile").autocomplete({
                source: getData,
                select: selectItem,
                minLength: 1
            });
        });
        $('#focuscorrect').on('click', function() {
            $.get("focuscorrect", function(data, status) {
                $('#focuscorrect').prop("disabled", true)
                alert(data);
            });
        });
        $('#comacorrect').on('click', function() {
            $.get("comacorrect", function(data, status) {
                $('#comacorrect').prop("disabled", true)
                alert(data);
            });
        });
        $('#m1correct').on('click', function() {
            $.get("m1correct", function(data, status) {
                $('#m1correct').prop("disabled", true)
                alert(data);
            });
        });
        $('#clear').on('click', function() {
            $.get("clear", function(data, status) {
                alert(data);
            });
            $('#zernikes').text("");
        });
        $('#setgains').on('click', function() {
            var m1g = $('#m1gain').val();
            var m2g = $('#m2gain').val();
            var m1url = "m1gain";
            var m2url = "m2gain";
            $.ajax({
                url: m1url,
                method: 'POST',
                data: {
                    'gain': m1g
                }
            });
            $.ajax({
                url: m2url,
                method: 'POST',
                data: {
                    'gain': m2g
                }
            });
        });
        var controlButtons = ["m1correct", "focuscorrect", "comacorrect", "clear", "analyze", "latest"];
        function enable() {
            $.each(controlButtons, function(i, v) {
                $('#' + v).prop("disabled", false);
            });
        };
        function disable() {
            $.each(controlButtons, function(i, v) {
                $('#' + v).prop("disabled", true);
            });
        };
        $('#analyze').on('click', function() {
            $(this).text("Running...");
            var file = $('#datafile').val();
            var dir = $('#datadir').html();
            var mode = $('#mode').val();
            var connect = document.getElementById('connect').checked;
            if (typeof mode === "undefined") {
                var url = "analyze?connect=" + connect + "&fitsfile=" + dir + file;
            } else {
                var url = "analyze?connect=" + connect + "&mode=" + mode + "&fitsfile=" + dir + file;
            };
            disable();
            $.get(url, function(data, status) {
                var logstuff = data + status;
                if (continuous == false) {
                    enable();
                };
                $('#analyze').text("Analyze");
            });
            $.getJSON("zfit", {format: "json"}).done(function(data) {
                $('#zernikes').text(data);
            });
        });
        $('#latest').on('click', function() {
            $.getJSON("files", {format: "json"}).done(function(data) {
                if (data.length > 0) {
                    latest_file = data[0];
                    $('#datafile').val(latest_file);
                    $('#analyze').trigger('click');
                };
            });
        });
        function doNextFile() {
            $.getJSON("files", {format: "json"}).done(function(data) {
                if (data.length > 0) {
                    if (data[0] != latest_file) {
                        latest_file = data[0];
                        $('#datafile').val(latest_file);
                        $('#analyze').trigger('click');
                    };
                };
                timer = setTimeout(doNextFile, 1000);
            });
        };
        $('#continuous').on('click', function() {
            var turbo = $('#turbo').prop("checked");
            latest_file = $('#datafile').val();
            if (continuous == false) {
                $.getJSON("files", {format: "json"}).done(function(data) {
                    if (data.length > 0) {
                        if (data[0] != latest_file) {
                            latest_file = data[0];
                        };
                    };
                });
                timer = setTimeout(doNextFile, 1000);
                $(this).text("Stop Continous WFS");
                disable();
                continuous = true;
                if (turbo != true) {
                    $('#m1gain').val(0.1);
                    $('#m2gain').val(0.1);
                    $('#setgains').trigger('click');
                };
            } else {
                $(this).text("Start Continuous WFS");
                enable();
                continuous = false;
                if (timer != undefined) {
                    clearTimeout(timer);
                    timer = undefined;
                }
                $('#m1gain').val(orig_m1g);
                $('#m2gain').val(orig_m2g);
                $('#setgains').trigger('click');
            };
        });

        </script>

        <p>

            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#slopes" aria-controls="slopes" role="tab" data-toggle="tab">Slopes/Residuals</a></li>
                    <li role="presentation"><a href="#zernfit" aria-controls="zernfit" role="tab" data-toggle="tab">Wavefront Fit</a></li>
                    <li role="presentation"><a href="#zerns" aria-controls="zerns" role="tab" data-toggle="tab">RMS Wavefront Errors</a></li>
                    <li role="presentation"><a href="#wavefront" aria-controls="wavefront" role="tab" data-toggle="tab">Wavefront Map/PSF</a></li>
                    <li role="presentation"><a href="#cell" aria-controls="cell" role="tab" data-toggle="tab">Cell Forces</a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="slopes">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>
                                        <div id="slopes"></div>
                                    </td>
                                    <td>
                                        <div id="residuals"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="zernfit">
                        <pre>
                            <div id="zernikes"></div>
                        </pre>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="zerns">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td colspan="2">
                                        <div id="barchart"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="wavefront">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>
                                        <div id="wavefront"></div>
                                    </td>
                                    <td>
                                        <div id="psf"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="cell">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>
                                        <div id="forces"></div>
                                    </td>
                                    <td>
                                        <div id="totalforces"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </p>
    </body>
</html>
