# GitHub Actions workflow for mmtwfs testing and continuous integration.
#
# This file performs testing using tox and tox.ini to define and configure the test environments.

name: Python Tests

on: [push, pull_request]

jobs:

  matrix_tests:
    runs-on: ${{ matrix.os }}
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-ver: [8, 9]
        tox-env: [cov, alldeps, astropydev]
    steps:
    - uses: actions/checkout@v1
    - name: Set up python 3.${{ matrix.python-ver }} with tox environment ${{ matrix.tox-env }} on ${{ matrix.os }}
      uses: actions/setup-python@v1
      with:
        python-version: 3.${{ matrix.python-ver }}
    - name: Install base dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install numpy tox
    - name: Test with tox
      run: |
        tox -e py3${{ matrix.python-ver }}-${{ matrix.tox-env }}
    - name: Upload coverage to codecov
      if: matrix.tox-env == 'cov' && matrix.python-ver == '8'
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV }}
        file: ./coverage.xml
        fail_ci_if_error: true

  doc_test:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python to build docs with sphinx
      uses: actions/setup-python@v1
      with:
        python-version: 3.9
    - name: Install base dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install tox
    - name: Build and check docs using tox
      run: |
        tox -e build_docs
        tox -e linkcheck

  codestyle:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    steps:
    - uses: actions/checkout@v1
    - name: Python codestyle check
      uses: actions/setup-python@v1
      with:
        python-version: 3.9
    - name: Install base dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install tox
    - name: Check codestyle using tox
      run: |
        tox -e codestyle
